@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body {
    align-items: center;
    justify-content: center;
}

#navbar {
    display: none;
}

.kontener {
    padding-left: 250px;
    z-index: 2;
}

.sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    margin-top: 0;
    overflow-y: auto;
    background: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a i {
    margin-right: 10px;
}

.sidebar a:hover:not(.active) {
    background-color: rebeccapurple;
    color: white;
}

.sidebar a.active {
    background-color: rgb(18, 113, 237);
    color: white;
}

.sidebar header {
    background-color: white;
    /* line-height: 70px; */
    text-align: center;
    margin:0;
    padding: 0;
}

.sidebar header a {
    margin: 0;
    padding: 0;
}

.sidebar header a img {
    vertical-align: middle;
    margin: 10px auto;
    padding: 0;
}

.sidebar header a.logo {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 0;
}

.sidebar header a.logo:hover {
    background: none;
}

.navbar {
    position: relative;
    min-height: 70px;
    margin: 0 40px 30px 0;
    border: 1px solid transparent;
    background-color: white;
    padding: 20px 0 0 0;
}

.navbar ul {
    list-style: none;
    align: right;
    text-align: right;
}

.navbar ul li {
    margin-top: 10px;
    margin-right: 20px;
    display: inline-block;
}

.navbar ul li.cargo a {
    color: rgb(18, 113, 237);
    border: 2px solid rgb(18, 113, 237);
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
}

.navbar ul li.vehicle a {
    color: rgb(18, 113, 237);
    border: 2px solid rgb(18, 113, 237);
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
}

.navbar ul li.cargo a, .navbar ul li.vehicle a {
    text-decoration: none;
}

.navbar ul li.cargo a i, .navbar ul li.vehicle a i {
    margin-right: 10px;
}

.navbar ul li.cargo a:visited, .navbar ul li.vehicle a:visited {
    text-decoration: none;
    color: rgb(18, 113, 237);
}

.navbar ul li.cargo a:hover, .navbar ul li.vehicle a:hover  {
    text-decoration: none;
    background-color: rgb(18, 113, 237);
    color: white;
}

.navbar ul li.company i {
    vertical-align: middle;
}

.navbar ul li.company b {
    height: auto;
}

main.general {
    display: block;
    width: 100%;
    margin: 0 auto;
}

h1 {
    padding-left: 10px;
    margin-left: 50px;
    border-left: 5px solid indigo;
    font-size: 22px;
}