/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body {
    align-items: center;
    justify-content: center;
}

#navbar {
    display: none;
}

.kontener {
    padding-left: 250px;
    z-index: 2;
} */

/* .navbar {
    position: relative;
    min-height: 70px;
    margin: 0 40px 30px 0;
    border: 1px solid transparent;
    background-color: white;
    padding: 20px 0 0 0;
}

.navbar ul {
    list-style: none;
    align: right;
    text-align: right;
}

.navbar ul li {
    margin-top: 10px;
    margin-right: 20px;
    display: inline-block;
}

.navbar ul li.cargo a {
    color: rgb(18, 113, 237);
    border: 2px solid rgb(18, 113, 237);
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
}

.navbar ul li.vehicle a {
    color: rgb(18, 113, 237);
    border: 2px solid rgb(18, 113, 237);
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
} */

/* .navbar ul li.cargo a, .navbar ul li.vehicle a {
    text-decoration: none;
}

.navbar ul li.cargo a:visited, .navbar ul li.vehicle a:visited {
    text-decoration: none;
    color: rgb(18, 113, 237);
}

.navbar ul li.cargo a:hover, .navbar ul li.vehicle a:hover  {
    text-decoration: none;
    background-color: rgb(18, 113, 237);
    color: white;
}

.navbar ul li.company i {
    vertical-align: middle;
}

.navbar ul li.company b {
    height: auto;
} */

/* .sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    margin-top: 0;
    overflow-y: auto;
    background: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a i {
    margin-right: 10px;
}
.sidebar a:hover:not(.active) {
    background-color: rebeccapurple;
    color: white;
}

.sidebar a.active {
    background-color: rgb(18, 113, 237);
    color: white;
}

/* .sidebar header {
    background-color: white;
    /* line-height: 70px; */
    text-align: center;
    margin:0;
    padding: 0;
} */

/* .sidebar header a {
    margin: 0;
    padding: 0;
}

.sidebar header a img {
    vertical-align: middle;
    margin: 10px auto;
    padding: 0;
}

.sidebar header a.logo {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 0;
}

.sidebar header a.logo:hover {
    background: none;
} */ */

/* h1 {
    padding-left: 10px;
    margin-left: 50px;
    border-left: 5px solid indigo;
    font-size: 22px;
}

h2 {
    margin: 20px 0 0 50px;
    font: normal 17px "Roboto";
} */

/* main.route {
    float: left;
    width:50%;
}
main.route div#map {
    height: 100vmin;
    margin:0 50px 0 0;
    padding:0;}


main.print {
    width: 50%;
    float: left;
    margin-bottom: 50px;
}

main .form .left {
    margin: 40px 0 40px 50px;
    padding: 0;
    width: 25%;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

main .form .right {
    margin: 40px 0 40px 0;
    padding: 0;
    width:70%;
    display: inline-block;
    vertical-align: middle;
}

main .form .right input {
    background-color: #ffffcc;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-right: 50px;
}

main .form input[type=submit], main .form a.back, main .form a.print {
    margin: 30px 0 0 50px;
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12pt;
}

main hr.main {
    margin: 50px;
    padding: 0;
    border-top: 1px solid gray;
}

main hr.form {
    margin: 0 50px 0 50px;
    padding: 0;
    border-top: 1px solid lightgrey;
}

@media print {
    .container { margin: 0; padding: 0; }
    div.navbar, div.sidebar { display: none; }
    .kontener { padding: 0; }
    main h1 { font-size: 30px; margin: 20px 0 20px 0; border: 0; padding: 0; text-align: center; color: #2ca02c;}
    main h2 { display: none;}
    main .form .right { margin: 0; padding: 0; }
    main .form .right input { border: none; margin: 0; word-wrap: break-all;}
    main .form .left { margin: 0; font-size: 12px; padding: 0; }
    hr.main { display: none; }
    main hr.form { margin: 5px 20px 5px 0; padding: 0; border: 0; border-top: 1px solid #0f6674;}
    a.back, input[type=submit], a.print { display: none; }
    main.general {
        width: 100%;
        height: auto;
        break-after: page;
    }

    .break {
        page-break-after: always;
    }

    main.route {
        display: none;
        width: 100%;
    }
    main.route #map {
        width: 100%;
        display: none;
        margin: 0;
    }
} */